{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Mecanic</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/Semantic/semantic.min.css' %}">
	{% block extraCSS %} {% endblock %}
</head>
<body>
	{% block header %} {% endblock %}
	{% block content %} {% endblock %}
	
	<footer>
		
	</footer>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  			crossorigin="anonymous">
  	</script>
	<script src="{% static 'vendors/Semantic/semantic.min.js' %}"></script>
	{% block extraJS %}	{% endblock extraJS %}
</body>
</html>