{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
<style>
	#map {
		height: 100%;
	}
	nav {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 999;
		width: 100%;
	}
</style>
{% endblock %}

{% block content %}
<nav>
<div class="ui inverted mini menu">
	<a class="active item">	Home  </a>
	<a id="barNav" class="item">	Messages </a>
	<a class="item">	Friends  </a>

	<!-- Searching Input -->
	<div class="right menu">
	 	<div class="item">
			<div class="ui search">
			  <div class="ui icon input">
			    <input class="prompt" type="text" placeholder="Buscar Talleres...">
			    <i class="search icon"></i>
			  </div>
	  			<div class="results"></div>
			</div>
	    </div>
	    <a href="{% url 'logout' %}" class="ui item">
	      Logout
	    </a>
  	</div>
</div>
</nav>

<div class="ui bottom inverted sidebar labeled icon menu fixed pushable">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>
<div id="map" class="pusher"></div>

{% endblock content %}

{% block extraJS %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgee_AJvNGzuvG4DLTgmNN9VJgpHaRkWs"></script>
	<script type="text/javascript" src="{% static 'assets/js/dashboard/map.js' %}"></script>
	<script type="text/javascript">
		document.getElementById('barNav').addEventListener('click', function() {
			$('.ui.labeled.icon.sidebar')
			.sidebar('setting', 'transition', 'overlay')
 			.sidebar('toggle');
		});

		var content = [
		  { title: 'Andorra' },
		  { title: 'United Arab Emirates' },
		  { title: 'Afghanistan' },
		  { title: 'Antigua' },
		  { title: 'Anguilla' },
		  { title: 'Albania' },
		  { title: 'Armenia' },
		  { title: 'Netherlands Antilles' },
		  { title: 'Angola' },
		  { title: 'Argentina' },
		  { title: 'American Samoa' },
		  { title: 'Austria' },
		  { title: 'Australia' },
		  { title: 'Aruba' },
		  { title: 'Aland Islands' },
		  { title: 'Azerbaijan' },
		  { title: 'Bosnia' },
		  { title: 'Barbados' },
		  { title: 'Bangladesh' },
		  { title: 'Belgium' },
		  { title: 'Burkina Faso' },
		  { title: 'Bulgaria' },
		  { title: 'Bahrain' },
		  { title: 'Burundi' }
		];

		$('.ui.search').search({	source: content});

		let map = new Map();
		map.initMap(	'map',	true);

		/*window.addEventListener("load", function() {
			const userLocation = new UserLocation(function() {
				console.log("sisisis");
				console.log(userLocation.latitude);
			});
		})*/

	</script>
{% endblock extraJS %}